a{
    color: black;
    text-decoration: none;
    display: block;
    article{
    box-shadow: 0px 0px 10px #908115;
    h2{
        font-weight: 600;
        text-align: left;
        text-transform: capitalize;
    }
    .images{
        background-color: #dfdfdf;
        position: relative;
        padding-top: 10px;
        .pokemonid{
            text-align: center;
            background-color: #d1cdca;
            padding: 5px;
            width: 20%;
            font-size: 80%;
        }
    }
    .content{
        background-color: white;
        padding: 16px;
        text-align: left;
        ul li{
            display: inline-block;
            margin:  5px 10px 5px 0px;
            padding: 3px;
            border: 1px solid #d1cdca; 
            border-radius: 5px;
            font-size: 80%;
        }
        div{
            border-left: 3px solid #60381e;
            padding-left: 10px;
            h3{
                font-size: 120%;
                font-weight: 600;
            }
        }
    }

}
}