@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;600&display=swap');
$primary-color: #ffe62c;
$black-color: black;
$secundary-color: #ea2a2a;
$fontFamily:  'Exo 2', sans-serif;
$fontSize: 1em;
$maxWidth: 60.000em;
$marginGrid: 0.625em;
$breakPointTablet: 48.000em;
$breakPointDesktop: 60.000em;


